<div class="container">
  <div class="post">
    <h1>All Articles</h1>
    <h4 class="h4">Posted Articles : <span class="badge badge-success text-success"><%= @articles.count %></span></h4>

    <% @articles.each do |article| %>
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="card-action">Posted: 30 Sec Ago</div>
          <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"></a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="<%= article_path(article) %>">View Article</a></li>
              <li><a class="dropdown-item" href="<%= edit_article_path(article) %>">Edit Article</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="#">Delete Article</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <p><%= article.description %></p>
          </div>
        </div>

        <div class="card-footer">
          <div class="pull-right">Published by: Bilal Hussain</div>
        </div>
      </div>
    <%end %>
  </div>
</div>