<div class="header__secondary">
  <div class="header_content">
    <h1>Start Publishing Your Stories.</h1>
    <a href="<%= articles_path %>" class="btn btn-warning btn-lg btn-rounded btn-cst">Brows Community</a>
  </div>
</div>