.container-post {
    width: 50%;
    margin: 40px auto;
}
.alert-success {
    border-radius: 0 !important;
}
.not_posted {
    width: 50%;
    margin: 40px auto;
}

.header__secondary {
    height: 300px;
    width: 80%;
    margin: 20px auto;
    background-image: linear-gradient(to right bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("https://images.pexels.com/photos/4549414/pexels-photo-4549414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.btn-cst {
    width: 300px;
}